.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0f273d;
    width: 100%;
    height: 80px;
  }
  
  .Header-logo {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 90px;
  }

  .Header-title {
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
  }

  .Header-title a, Header-title a:visited, Header-title a:active {
    text-decoration: none;
    color: white;
    font-size: 4rem;
  }
  
  @media (max-width: 700px) {
    .Header-logo {
      display: none;
    }

    .Header-title a {
      font-size: 1.5rem;
    }
  }
  